.content {
    width:480px;
    margin:20px auto 0;
}

.calculator {
	width:480px;
	height:auto;
	padding:10px 0;
	margin: auto;
	background:#232323;
	border:#000 1px solid;
	-webkit-border-radius:7px;
	   -moz-border-radius:7px;
			    border-radius:7px;
	-webkit-box-shadow:grey 5px 5px 5px;
	   -moz-box-shadow:grey 5px 5px 5px;
		     	box-shadow:grey 0px 5px 5px;
	background-image:-webkit-linear-gradient(top, #595959, #1f1f1f);
	background-image:   -moz-linear-gradient(top, #333333, #1f1f1f);
	background-image:		     linear-gradient(top, #333333, #1f1f1f);
	overflow: hidden;
	text-align: center;
}

.screen {
	width:425px;
	height:95px;
	margin: 12px auto 30px;
	padding:28px 20px;
	color:#c0c0c0;
	text-align: right;
	font-size: 2em;
	letter-spacing: 3px;
	overflow:hidden;
	border:#000 1px solid;
	-webkit-border-radius:7px;
	   -moz-border-radius:7px;
			    border-radius:7px;
	-webkit-box-shadow:inset black 0px 1px 4px;
	   -moz-box-shadow:inset black 0px 1px 4px;
			    box-shadow:inset black 0px 1px 4px;
	background-image: -webkit-linear-gradient(top, #3e3e3e, #303030);
	background-image:    -moz-linear-gradient(top, #3e3e3e, #303030);
	background-image: 		    linear-gradient(top, #3e3e3e, #303030);
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
		    	box-sizing:border-box;
}

.buttons {
	padding:0;
	width:425px;
	margin:auto;
	overflow: hidden;
	list-style: none;
}

.buttons li {
	display:inline;
	float:left;
	padding:0px;
	margin-right:13px;
	margin-bottom:10px;
}

.buttons li:nth-child(4n) {
	margin-right:0;
}


.buttons a{
	display:block;
	width:95px;
	height:68px;
	padding:18px 0 12px;
	color:#c0c0c0 !important;
	font-family:Arial, sans-serif;
	font-size:1.6em;
	font-weight: 500;
	background-color:#2f2f2f;
	border: #000 1px solid;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
		    	border-radius:5px;
	text-align: center;
	-webkit-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	   -moz-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
			     box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	background-image:-webkit-linear-gradient(top, #363636, #2f2f2f);
	background-image:   -moz-linear-gradient(top, #363636, #2f2f2f);
	background-image:        linear-gradient(top, #363636, #2f2f2f);
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			    box-sizing:border-box;
	cursor: pointer;
}

.buttons a:active{
	box-shadow: inset rgba(0,0,0,0.5) 0px 2px 8px;
	background-image:-webkit-linear-gradient(top, #2f2f2f 0%, #363636 100%);
	background-image:   -moz-linear-gradient(top, #2f2f2f 0%, #363636 100%);
	background-image:		     linear-gradient(top, #2f2f2f 0%, #363636 100%);
}

a.equal{
	color: black !important;
	-webkit-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	   -moz-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
			box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	background-image:-webkit-linear-gradient(top, #F5F5F5, #C1C1C1);
	background-image:   -moz-linear-gradient(top, #F5F5F5, #C1C1C1);
	background-image:        linear-gradient(top, #F5F5F5, #C1C1C1);
}

a.equal:active{
	box-shadow: inset rgba(0,0,0,0.5) 0px 2px 8px;
	background-image:-webkit-linear-gradient(top, #C1C1C1 0%, #F5F5F5 100%);
	background-image:   -moz-linear-gradient(top, #C1C1C1 0%, #F5F5F5 100%);
	background-image:		     linear-gradient(top, #C1C1C1 0%, #F5F5F5 100%);
}

a.other{
	-webkit-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	   -moz-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
			box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	background-image:-webkit-linear-gradient(top, #707070, #505050);
	background-image:   -moz-linear-gradient(top, #707070, #505050);
	background-image:        linear-gradient(top, #707070, #505050);
}

a.other:active{
	box-shadow: inset rgba(0,0,0,0.5) 0px 2px 8px;
	background-image:-webkit-linear-gradient(top, #505050 0%, #707070 100%);
	background-image:   -moz-linear-gradient(top, #505050 0%, #707070 100%);
	background-image:		     linear-gradient(top, #505050 0%, #707070 100%);
}

a.clear,a.erase{
	-webkit-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	   -moz-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
			box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	background-image:-webkit-linear-gradient(top, #E00000, #900000);
	background-image:   -moz-linear-gradient(top, #E00000, #900000);
	background-image:        linear-gradient(top, #E00000, #900000);
}

a.clear:active,a.erase:active{
	box-shadow: inset rgba(0,0,0,0.5) 0px 2px 8px;
	background-image:-webkit-linear-gradient(top, #900000 0%, #E00000 100%);
	background-image:   -moz-linear-gradient(top, #900000 0%, #E00000 100%);
	background-image:		     linear-gradient(top, #900000 0%, #E00000 100%);
}


.tall{
	height:150px !important;
}

.wide{
	width:205px !important;
}

.shift{
	margin-top:-80px;
}
